<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FoundWorkingCopyPaths</key>
	<array>
		<string>/Users/newsuzukihiromasa/git/ios</string>
	</array>
	<key>LastWorkingCopyScanDate</key>
	<date>2013-08-20T07:00:55Z</date>
	<key>MissingFilePaths</key>
	<array>
		<string>/Users/newsuzukihiromasa/git/ios/NavigationMenu-master/README.md</string>
	</array>
	<key>Version</key>
	<integer>4</integer>
</dict>
</plist>
